
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    margin: 0;
 
}
.login-card {
    width: 100%;
    max-width: 400px;
    height: 150px;
    padding:20px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}


.input-box{
    border-radius: 20px;
    line-height: 20px;
    border: 1px solid #ddd;
    padding: 2px;
    cursor: pointer;
       
}
.submit{
   
    width: 100%;
    padding: 10px;
    background: pink;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
 
}
.submit:hover{
background-color: palevioletred;
}
.form-group{
    margin-bottom: 20px;
    
}
.form-group label{
    
    margin-bottom: 5px;
    font-weight: 600;
    color: #555;
    
}
.link{
text-decoration: none;
color: palevioletred;
}
.link:hover{
    text-decoration: underline;
    color: darkred;
} 
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
    margin: 0;
}
.todo{
    background-color: white;
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow:  0 4px 10px rgba(0, 0, 0, 0.1);
    
}
h2{
    color:darkred
}
.search{
    width: 250px;
}
.btn-task{
    background-color: pink;
    padding: 3px;
    margin: 5px;
}
.btn-task:hover{
    background-color: palevioletred;
   
}
td{
    color: darkred;
    padding: 20px;
}
td a{
    text-decoration: none;
}