.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5d6d6;
    margin: 0;
}
.todo{
    background-color:  #ffecec;
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow:  0 4px 10px rgba(0, 0, 0, 0.1);
    
}
h2{
    color:darkred
}
.search{
    width: 250px;
}
.btn-task{
    background-color: pink;
    padding: 3px;
    margin: 5px;
}
.btn-task:hover{
    background-color: palevioletred;
   
}
td{
    color: darkred;
    padding: 20px;
}
td a{
    text-decoration: none;
}
.error-message {
    color: red;
    font-weight: bold;
    margin: 10px 0;
    background: #ffecec;
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
} 



